<div style="display: flex">
    <form action="/profiles" method="get">
        <select name="searchCategory" id="searchCategory">
            <option value="userName" , id="userName">User Name</option>
            <option value="firstName" , id="firstName">First Name</option>
            <option value="lastName" , id="lastName">Last Name</option>
            <option value="email" , id="email">Email</option>
            <option value="interests" , id="interests">Interests</option>
        </select>
        <input type="text" id="searchProfile" name="searchProfile">
        <button type="submit">Search</button>
    </form>

    <form action="/profiles" method="GET">
        <button type="submit">Back</button>
    </form>
</div>

<!--<div>
    <a href="/profiles/edit"><button>Create New Profile</button></a>
</div>-->
<br>
<a href="/profiles/<%= myId %>">My Profile</a>

<ul id="myUL">
    <% for (let i=0; i < profiles.length; i++) { %>
        <% if (reqInfo.username !== profiles[i].username) { %>
        <li>
            <a href="/profiles/<%= profiles[i].id%>">
                <%= profiles[i].firstName + " " +profiles[i].lastName%>
            </a>
            <% if (reqInfo.roles.includes("Admin")) { %>
                <a href="/profiles/delete/<%= profiles[i].id %>"> <button>Delete</button></a>
                <% } %>
        </li>
        <% } %>
    <% } %>
</ul>