<header>
    <h1><%= title %></h1>
    <nav>
        <a href="/">Home</a> | 

        <%if (reqInfo.authenticated) { %>

            <a href="/profiles">Profiles</a> |
            <a href='/user/logout'>Logout</a> [<%= reqInfo.username %>]

        <!-- 'else' must be in separate section with curly brackets to work. -->
        <% } else { %>

            <a href="/user/login">Login</a> | 
            <a href="/user/register">Register</a> | 
            
        <% } %>
    </nav>
</header>