<article>
    <h2>Welcome to our Node Yearbook!</h2>
    <p>We designed this yearbook to have role based authorizations. You will need to login or register in order to
        access the secure areas. Once registered or logged in, you can edit your own profile to upload a photo and even
        add interests! Once you're all set, take a look at other profiles and leave a comment on their profile if you
        like!
    </p>
</article>